spring.datasource.url=jdbc:postgresql://127.0.0.1:5432/pastej_prod
spring.datasource.username=pastej
spring.datasource.password=password123
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=create
